<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-fcm-config-fogocruzado"
    version="1.0.0">
    
    <name>cordova-plugin-fcm-config-fogocruzado</name>
    
    <description>Monta Folder Push</description>
    
    <author>Steffen Tröster</author>
    
    <license>MIT</license>

	<platform name="android">
		<source-file src="google-services.json" target-dir="./"/>
		<resource-file src="fcm_push_icon.png" target="res/drawable/fcm_push_icon.png" />
	</platform>

	<platform name="ios">
		<source-file src="GoogleService-Info.plist"/>
	</platform>
</plugin>
