<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-fcm-config-fogocruzado"
    version="1.0.0">
    
    <name>cordova-plugin-fcm-config-fogocruzado</name>
    
    <description>Monta Folder Push</description>
    
    <author>Steffen Tröster</author>
    
    <license>MIT</license>

	<platform name="ios">
		<source-file src="GoogleService-Info.plist"/>
	</platform>
	
	<platform name="android">
		<source-file src="google-services.json" target-dir="./"/>
		<resource-file src="fcm_push_icon.png" target="res/drawable/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon.png" target="res/mipmap/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon-hdpi.png" target="res/mipmap-hdpi-v4/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon-ldpi.png" target="res/mipmap-ldpi-v4/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon-mdpi.png" target="res/mipmap-mdpi-v4/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon-xhdpi.png" target="res/mipmap-xhdpi-v4/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon-xxhdpi.png" target="res/mipmap-xxhdpi-v4/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon-xxxhdpi.png" target="res/mipmap-xxxhdpi-v4/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon.png" target="res/fcm_push_icon.png" />
		<resource-file src="fcm_push_icon.png" target="./fcm_push_icon.png" />
	</platform>	
</plugin>
